# Dependencies
node_modules

# Build output
dist

# Environment files
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Test
coverage
*.test.ts

# Uploads (will be mounted as volume)
uploads/*
!uploads/.gitkeep
